casadi==3.5.5
dill==0.3.6
filelock==3.0.12
GitPython==3.1.30
gym==0.26.2
hydra-core==1.3.1
matplotlib==3.6.3
mpldatacursor_rcognita==0.7.2
numpy==1.24.2
omegaconf==2.3.0
pandas==1.4.0
plotly==5.13.0
recursive_monkey_patch==0.4.0
scipy==1.10.0
setuptools==58.1.0
Shapely==1.7.1
streamlit==1.12.0
svgpath2mpl==0.2.1
tables==3.8.0
tabulate==0.8.7
